.page-container{
  // padding: 25px 50px 0px 45px;
  padding: 12px 25px 25px;
  
  height: calc(100% - 70px - 60px );
  overflow-y: auto;
  overflow-x: hidden;
  // background: #fff;
  background:  #f8f8f8;
}
