:host {
  display: block;
  width: 100%;
}

.header-container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .bi {
    font-size: 20px; // Increase size
    font-weight: bold; // Increase thickness
    cursor: pointer; // Show pointer on hover
    transition: transform 0.2s ease-in-out; // Add animation
  }

  // **Optional: Add hover effect**
  // .bi:hover {
  //   transform: scale(1.2);
  //   color: white;
  // }
}

.image-container {
  width: 11%;
  height: 100%;
  padding: 5px 15px 0 15px;
}

.action-container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 15px;



  .search-container {
    position: relative;
    width: 400px;
    font-family: sans-serif;
    margin-right: 55px;
  }
  
  .search-box {
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: #fff;
    height: 35px;


  }
  
  .search-box input {
    border: none;
    outline: none;
    flex-grow: 1;
    // cursor: pointer;
    background: transparent;
  }
  
  .search-icon {
    margin-right: 8px;
  }
  
  .dropdown-icon {
    margin-left: 8px;
  }
  
  .dropdown-form {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    border-top: none;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 1rem;
    z-index: 100;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
}

.dash-logo {
  height: auto;
  width: 95px;
}

.user-name {
  font-size: 14px;
  color: #333;
}

.profile-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;

}

:host ::ng-deep .btn {
  color: #fff !important;
}



.dropdown-menu {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-top: 2px solid #05a853;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  min-width: 220px;
  color: white;
  // margin-top: -5px;
}

.dropdown-item {
  color: #8a8686;
  font-size: 12px;
  padding: 5px 15px;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.custom-divider {
  height: 1px;
  width: 90%;
  background-color: #ddd; /* Light gray */
  margin: 5px auto; /* Center align */
}


