<div class="tab-content">

  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="financeForm" *ngIf="financeForm">

        <div class="col-sm-12">


          <div class="card mt-3">
            <div class="card-header">
              <span>Finance Evidence</span>
            </div>

            <div class="card-body">
              <div>


                <div class="row mt-3">
                  <div class="col-md-4">
                    <div class=" form-group">
                      <label>
                        Name of course:<sup>*</sup>
                      </label>

                      <ng-select #courseSelect [items]="courses" bindLabel="name" bindValue="id"
                        formControlName="course_id" placeholder="Select a course" [clearable]="false"
                        (change)="onCourseChange($event)">
                      </ng-select>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Course fees:</label>
                      <input type="text" class="form-control" formControlName="course_fees" />
                      <small class="text-danger" *ngIf="financeForm.get('surname')?.errors?.['required']">Please enter
                        your
                        course fees!</small>
                    </div>
                  </div>


                  <div class="col-md-4">
                    <div class="form-group">
                      <label>First year fees:</label>
                      <input type="text" class="form-control" formControlName="first_year_fees" />
                    </div>
                  </div>
                </div>

                <div class="row mt-3">
                  <div class="col-md-4 mt-3">
                    <label class="form-check-label" style="font-size: 18px;">
                      <input type="checkbox" formControlName="inside_london"
                        style="transform: scale(1.5); margin-right: 5px;" />
                      Inside London
                    </label>

                    <div class="form-group mt-2">
                      <label>Your living costs:</label>
                      <input type="text" class="form-control" formControlName="living_cost_inside_london" />
                    </div>
                  </div>

                  <div class="col-md-4 mt-3">
                    <label class="form-check-label" style="font-size: 18px;">
                      <input type="checkbox" formControlName="outside_london"
                        style="transform: scale(1.5); margin-right: 5px;" />
                      Outside London
                    </label>

                    <div class="form-group mt-2">
                      <label>Your living costs:</label>
                      <input type="text" class="form-control" formControlName="living_cost_outside_london" />
                    </div>
                  </div>

                  <div class="col-md-4 mt-4">
                    <div class="form-group  mt-4">
                      <label>Total funding to be shown:</label>
                      <input type="text" class="form-control" formControlName="total_fund" [disabled]="true" />
                    </div>
                  </div>
                </div>


                <div class="col-md-4 mt-4">
                  <div style="font-size: 22px;">

                    How are you planning to fund your studies and living costs
                  </div>
                  <!-- <div *ngFor="let option of checkboxOptions">
                    <label class="form-check-label" style="font-size: 14px;">
                      <input type="checkbox" [checked]="financeForm.value.living_cost_plan.includes(option.label)"
                        (change)="onCheckboxChange(option.label, $event)"
                        style="transform: scale(1.5); margin-right: 5px;" />
                      {{ option.label }}
                    </label>
                  </div> -->


                  <div *ngFor="let option of checkboxOptions">
                    <label class="form-check-label" style="font-size: 14px;">
                      <input type="checkbox" [checked]="financeForm.value.living_cost_plan?.includes(option.label)"
                        (change)="onCheckboxChange(option.label, $event)"
                        [disabled]="financeForm.get('otherSelected')?.value"
                        style="transform: scale(1.5); margin-right: 5px;" />
                      {{ option.label }}
                    </label>
                  </div>


                  <!-- "Other" checkbox -->
                  <div class="mt-2">
                    <label class="form-check-label" style="font-size: 14px;">
                      <input type="checkbox" formControlName="otherSelected" (change)="onOtherToggle()"
                        style="transform: scale(1.5); margin-right: 5px;" />
                      Other
                    </label>
                  </div>

                  <!-- Show input for 'Other' if selected -->
                  <div *ngIf="financeForm.get('otherSelected')?.value" class="mt-2">
                    <label>Specify Other:</label>
                    <input type="text" class="form-control" formControlName="other" />
                  </div>





                </div>





                <div class="text-center mt-3">
                  <button type="submit" class="btn btn-primary" [disabled]="!financeForm.valid" (click)="onSubmit(1)"
                    [disabled]="!financeForm.valid">Submit</button>
                </div>

              </div>
            </div>


          </div>









          <div class="card mt-3">
            <div class="card-header">
              <span>Educational Loan</span>
            </div>

            <div class="card-body">
              <div class="row mt-3">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Educational Loan:</label>
                    <input type="text" class="form-control" formControlName="education_loan" />
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label>Upload document:</label>
                    <input type="file" class="form-control" formControlName="loan_doc"
                      (change)="onLoanDocFile($event)" />
                  </div>
                </div>
              </div>




              <div class="row mt-3">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Add another loan:</label>
                    <input type="text" class="form-control" formControlName="another_education_loan" />
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label>Upload document:</label>
                    <input type="file" class="form-control" formControlName="another_loan_doc"
                      (change)="onAnotherLoanDocFile($event)" />
                  </div>
                </div>
              </div>

              <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary" [disabled]="!financeForm.valid" (click)="onSubmit(2)"
                  [disabled]="!financeForm.valid">Submit</button>
              </div>

            </div>
          </div>















          <div class="card mt-3">
            <div class="card-header">
              <span>Deposits paid</span>
            </div>

            <div class="card-body">
              <div class="row mt-3">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Course fee deposit:</label>
                    <input type="text" class="form-control" formControlName="fees_deposit" />
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label>I have paid another deposit:</label>
                    <input type="file" class="form-control" formControlName="deposit_doc"
                      (change)="onDepositDocFile($event)" />
                  </div>
                </div>
              </div>




              <div class="row mt-3">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Add another deposit:</label>
                    <input type="text" class="form-control" formControlName="another_deposit" />
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label>Upload document:</label>
                    <input type="file" class="form-control" formControlName="another_deposit_doc"
                      (change)="onAnotherDepositDocFile($event)" />
                  </div>
                </div>
              </div>

              <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary" [disabled]="!financeForm.valid" (click)="onSubmit(3)"
                  [disabled]="!financeForm.valid">Submit</button>
              </div>

            </div>
          </div>












          <div class="card mt-3">
            <div class="card-header">
              <span>Funds allocation</span>
            </div>

            <div class="card-body">
              <div class="row mt-3">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Tuition fees:</label>
                    <input type="text" class="form-control" formControlName="funds_amount_paid"
                      placeholder="Amount paid to date" />
                  </div>
                </div>
              </div>




              <div class="row mt-3">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Educational loan:</label>
                    <input type="text" class="form-control" formControlName="edu_loan_paid" placeholder="Amount" />
                  </div>
                </div>


              </div>



              <div class="col-md-4 mt-4">
                <div class="form-group  mt-4">
                  <label>Fees outstanding:</label>
                  <input type="text" class="form-control" formControlName="fees_outstanding" [disabled]="true" />
                </div>
              </div>

              <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary" [disabled]="!financeForm.valid" (click)="onSubmit(4)"
                  [disabled]="!financeForm.valid">Submit</button>
              </div>

            </div>
          </div>



        </div>
















      </form>
    </div>

    <!-- <div class="text-end mt-3">
      <button type="submit" class="btn btn-view me-2" (click)=" onPrevious()">Previous</button>
      <button type="submit" class="btn btn-save" (click)="onNext()">Next</button>
    </div> -->
  </div>


</div>