<div class="row">
  <div class="col-sm-12">
    <div class="card mt-3">
      <div class="card-header">
        <span>Application</span>
        <span class="position-absolute" style="right: 10px; cursor: pointer; color: white">
          <i class="fa fa-times" (click)="closeForm()"></i>
        </span>
      </div>
      <div class="card-body">
        <form [formGroup]="caseForm">
          <div class=" row mt-3">
            <div class="col-md-6">
              <div class=" form-group">
                <label>
                  Course Offered:<sup *ngIf="displayValidation">*</sup>
                </label>

                <ng-select #courseSelect [items]="courses" bindLabel="name" bindValue="id" formControlName="course_id"
                  placeholder="Select a role" [clearable]="false" (change)="onCourseChange($event)">
                </ng-select>
              </div>
            </div>

            <div class="col-md-6">
              <div class=" form-group">
                <label>
                  Sessions:<sup *ngIf="displayValidation">*</sup>
                </label>

                <ng-select #sessionSelect [items]="sessions" bindLabel="name" bindValue="id"
                  formControlName="session_id" placeholder="Select a role" [clearable]="false"
                  (change)="onSessionChange($event)">
                </ng-select>
              </div>
            </div>

            <div class="col-md-6 mx-auto mt-4">
              <div class=" form-group">
                <label>
                  Agents:<sup *ngIf="displayValidation">*</sup>
                </label>

                <ng-select #agentSelect [items]="agents" bindLabel="name" bindValue="id" formControlName="agent_id"
                  placeholder="Select a role" [clearable]="false" (change)="onAgentChange($event)">
                </ng-select>
              </div>

            </div>
          </div>
          <div class="form-buttons gap-2">
            <button type="submit" class="btn btn-primary" [disabled]="!caseForm.valid"
              (click)="onSubmit()">Next</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>