<div class="d-flex mt-3 mb-3 justify-content-end">
  <button type="button" class="btn btn-secondary add-button" (click)="addNewStudent()">+ Add New Case</button>
</div>

<form class="form w-100" style="margin: 20px 0px;" [formGroup]="filterForm" (ngSubmit)="onSelectFilters()"
  autocomplete="off" novalidate>

  <!-- <div class="form-content search-filter-block position-relative ">
    <strong class="sub-title search-student-title">Search Cases</strong>

    <div class="position-absolute d-flex" style="top: 42px; right: 20px;">
      <button type="submit" class="btn btn-primary mx-1 filter-button" (click)="onApplyFilters()"
        [disabled]="!filterForm.controls['name'].value && !filterForm.controls['email'].value">
        Filter
      </button>

      <button type="button" class="btn btn-outline-secondary mx-1 reset-button" (click)="onResetFilters()"
        [disabled]="!filterForm.controls['name'].value && !filterForm.controls['email'].value">
        Reset
      </button>
    </div>


    <div class="row">
      <div class="field-block w-100">
        <div class="col-12" style="color: #808382;">
          <div class="row" style="padding-right: 100px;">


            <div class="col-12 col-sm-6 col-md-3">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" formControlName="name" />
              </div>
            </div>

            <div class="col-12 col-sm-6 col-md-3">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" formControlName="email" />
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div> -->
</form>


<div class="d-flex justify-content-between align-items-center mb-2">
  <div>
    <label for="perPageSelect" class="me-2" style="padding-bottom: 10px; color: #000000;">Show</label>
    <select id="perPageSelect" class="form-select me-2" style="width: auto; display: inline-block;"
      (change)="updatePerPage($event)">
      <option *ngFor="let option of perPageOptions" [value]="option" [selected]="option === page.perPage">{{ option }}
      </option>
    </select>
    <label for="perPageSelect" class="me-2" style="padding-bottom: 10px; color: #000000;">entries</label>
  </div>
  <!-- <div>
    <span>Page {{ page.page }} of {{ getTotalPages() }}</span>
  </div> -->
</div>
<ngx-datatable class="bootstrap custom-table" [rows]="rows" [columns]="columns" [columnMode]="'force'"
  [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true" [limit]="page.perPage"
  [count]="page.total" [offset]="page.page - 1" [externalPaging]="true" (page)="setPage($event)">

  <ngx-datatable-column *ngFor="let col of columns" [name]="col.name" [prop]="col.prop" [sortable]="false">
    <ng-template ngx-datatable-header-template let-column="column">
      <div class="mgx-header">{{ column.name }}</div>
    </ng-template>

    <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-column="column">
      <div *ngIf="column.name === 'Student Name' || column.name === 'Case Id'; else normalCell" class="clickable-text"
        (click)="onStudentNameClick(row,column.name)">

        {{ value }}
      </div>
      <ng-template #normalCell>
        <div class="text-center">{{ value }}</div>
      </ng-template>
    </ng-template>

  </ngx-datatable-column>



</ngx-datatable>