<div class="d-flex mt-3 mb-3 justify-content-end">
  <button type="button" class="btn btn-secondary add-button" (click)="addNewCase()">+ Add New Case</button>
</div>




<div class="d-flex justify-content-between align-items-center mb-2">
  <div>
    <label for="perPageSelect" class="me-2" style="padding-bottom: 10px; color: #000000;">Show</label>
    <select id="perPageSelect" class="form-select me-2" style="width: auto; display: inline-block;"
      (change)="updatePerPage($event)">
      <option *ngFor="let option of perPageOptions" [value]="option" [selected]="option === page.perPage">{{ option }}
      </option>
    </select>
    <label for="perPageSelect" class="me-2" style="padding-bottom: 10px; color: #000000;">entries</label>
  </div>

</div>
<ngx-datatable class="bootstrap custom-table" [rows]="rows" [columns]="columns" [columnMode]="'force'"
  [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true" [limit]="page.perPage"
  [count]="page.total" [offset]="page.page - 1" [externalPaging]="true" (page)="setPage($event)">

  <ngx-datatable-column *ngFor="let col of columns" [name]="col.name" [prop]="col.prop" [sortable]="false">
    <ng-template ngx-datatable-header-template let-column="column">
      <div class="mgx-header">{{ column.name }}</div>
    </ng-template>

    <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-column="column">
      <div *ngIf="column.name === 'Student Name' || column.name === 'Case Id'; else normalCell" class="clickable-text"
        (click)="onStudentNameClick(row,column.name)">

        {{ value }}
      </div>
      <ng-template #normalCell>
        <div class="text-center">{{ value }}</div>
        <div *ngIf="column.name === 'Created By'">
          <small>{{ row.created_at | date: 'short' }}</small>
        </div>
        <div *ngIf="column.name === 'Updated By'">
          <small>{{ row.updated_at | date: 'short' }}</small>
        </div>
      </ng-template>
    </ng-template>

  </ngx-datatable-column>

</ngx-datatable>