<div class="breadcrumb-container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">

      <li class="breadcrumb-item" *ngFor="let breadcrumb of breadcrumbs; let last = last">
        <a *ngIf="!last" [routerLink]="breadcrumb.url" [innerHTML]="formatBreadcrumb(breadcrumb.label)"></a>
        <span *ngIf="last" class="active" [innerHTML]="formatBreadcrumb(breadcrumb.label)"></span>

      </li>


    </ol>

  </nav>

  <span class="breadcrumb-end" *ngIf="isCaseRoute && !!caseId">
    <span style="color: black;">Case Id:</span>
    <span style="color: green;"> {{caseId}} {{getStudentName()}}</span>
  </span>

</div>

<div *ngIf="isCaseRoute && !!studentId" style="display: flex; align-items: center;">
  <img src="assets/images/profile.jpeg" width="50" height="50"
    style="border: 3px solid lightblue; background-color: green;" />

  <div style="display: flex; flex-direction: column; margin-left: 10px;">
    <div>
      <div class="text-hold">
        <div class="profile-details">
          <div>
            <span class="name">{{getStudentName()}}</span>
            <span class="age">({{GetYears(studentData?.date_of_birth)}} Years Old</span>
            <span>| DOB: {{GetDOB(studentData?.date_of_birth)}}</span>
            <span>| <span style="color: green;">{{studentData?.gender}}</span>)</span>
            <span>| DOA: <strong>Case Type:</strong> No Fault</span>
            <span><strong>Provider:</strong> Mason</span>
          </div>
          <div class="contact-info">
            <i class="fas fa-phone"></i> {{studentData?.phone_no}}
            <i class="fas fa-map-marker-alt"></i> {{getCompleteAddress()}}
            <i class="fas fa-envelope"></i> {{studentData?.email}}
          </div>
          <!-- <div class="icons">
            <i class="fas fa-key"></i>
            <i class="fas fa-edit"></i>
            <i class="fas fa-copy"></i>
          </div> -->
        </div>
      </div>
    </div>
    <div>
    </div>
  </div>
</div>

<div *ngIf="isCaseRoute && !!studentId" style="border-bottom: 1px solid grey; margin: 10px 0;"></div>