<div class="card">
    <div class="card-header">
        <span>Add Time Slots</span>
        <span class="position-absolute" style="right: 10px; cursor: pointer; color: white">

            <i class="fa fa-times" (click)="closeForm()" style="cursor: pointer; font-size: 24px; right: 10px"></i>

        </span>
    </div>

    <div class="card-body">
        <!-- <div class="row mt-3"> -->
        <form [formGroup]="agentForm">

            <div class="time-picker-row">


                <div class="col-md-5">
                    <div class="form-group">
                        <label>Date of Birth:</label>
                        <input type="date" class="form-control" formControlName="interview_date" />

                    </div>
                </div>

                <div class="col-md-5">
                    <div class="form-group">
                        <label>Interviewer Name:</label>
                        <input type="text" class="form-control" formControlName="interviewer_name" />

                    </div>
                </div>

            </div>
        </form>
        <!-- </div> -->

        <!-- <div class="time-picker-row">
            <div class="time-picker-wrapper">
                <app-add-time-slot (timeChange)="startTime = $event" [title]="'Start Time'">
                </app-add-time-slot>
            </div>

            <div class="time-picker-wrapper">
                <app-add-time-slot (timeChange)="endTime = $event" [title]="'End Time'">
                </app-add-time-slot>
            </div>
        </div> -->
        <div class="form-buttons gap-2 mb-3">
            <button type="submit" class="btn btn-primary submit-button" [disabled]="agentForm.invalid"
                (click)="onSave()">Save
            </button>
            <button type="button" class="btn btn-secondary cancel-button" (click)="closeForm()">Cancel</button>
        </div>

    </div>

</div>