a {
  text-decoration: none;
  pointer-events: auto; /* or simply remove pointer-events property */
}

.comment-tab a {
  background-color: #00bfff; /* Blue text for Comment tab */
color: white;
  font-weight: bold;
}

.custom-modal{
  height: 300px
}

.list-inline-item.active {
  // background-color: #007bff;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
}

.list-inline-item.active a {
  color: white;
}