/* Container */
.comments-container {
  padding: 20px;
  width: 100%;
}

/* Modal Title */
.modal-title {
  font-size: 20px;
  font-weight: bold;
}

/* Dropdown */
.dropdown-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  .form-select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

/* Buttons */
.button-group {
  display: flex;
  justify-content: end;
  gap: 10px;
  margin-bottom: 20px;

  .btn {
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
  }

  .refresh-btn {
    background-color: #17a2b8;
    color: #fff;
    border: none;
  }

  .filter-btn {
    background-color: #28a745;
    color: #fff;
    border: none;
  }
}

/* Comments Display */
.comments-box {
  min-height: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  color: #6c757d;

  .no-comments-text {
    font-size: 16px;
    margin-top:100px;
  }
}

/* Input and Send */
.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;

  .comment-input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
  }

  .send-btn {
    background-color: transparent;
    border: none;
    padding: 10px 15px;
    cursor: pointer;

    i {
      font-size: 20px;
      color: #17a2b8;
    }
  }
}
