<!-- <p-tabView>



    <p-tabPanel header="Created Interview">
        <app-scheduler-body></app-scheduler-body>
    </p-tabPanel>

    <p-tabPanel header="Scheduled Interview">
        <app-reenrollment></app-reenrollment>
    </p-tabPanel>

    <p-tabPanel header="Completed Interview">
        <app-reenrollment></app-reenrollment>
    </p-tabPanel>
    <p-tabPanel header="Created Compliance Interview">
        <app-reenrollment></app-reenrollment>
    </p-tabPanel> <p-tabPanel header="Scheduled Compliance Interview">
        <app-reenrollment></app-reenrollment>
    </p-tabPanel> <p-tabPanel header="Completed Compliance Interview">
        <app-reenrollment></app-reenrollment>
    </p-tabPanel>

</p-tabView> -->

<!-- <p-tabPanel header="Interview">
        <app-new-student></app-new-student>
    </p-tabPanel>

    <p-tabPanel header="Credit Interview">
        <app-reenrollment></app-reenrollment>
    </p-tabPanel> -->



<div class="custom-tab-bar">
    <div class="tab-item" *ngFor="let tab of tabs; let i = index" [class.active]="i === activeTabIndex"
        (click)="activeTabIndex = i">
        <span class="badge">{{ tab.count }}</span>
        <span class="label">{{ tab.label }}</span>
    </div>
</div>

<!-- Content -->
<div class="tab-content">
    <app-created-interview [hidden]="activeTabIndex !== 0"
        (signalToParent)="handleSignalForCreatedInterview($event)"></app-created-interview>
    <app-scheduler-interview [hidden]="activeTabIndex !== 1"
        (signalToParent)="handleSignalForSchedulerInterview($event)"></app-scheduler-interview>
    <app-completed-interview [hidden]="activeTabIndex !== 2"
        (signalToParent)="handleSignalForCompletedInterview($event)"></app-completed-interview>
    <app-compliance-created-interview [hidden]="activeTabIndex !== 3"
        (signalToParent)="handleSignalForCompCreatedInterview($event)"></app-compliance-created-interview>
    <app-compliance-scheduler-interview [hidden]="activeTabIndex !== 4"
        (signalToParent)="handleSignalForCompSchedulerInterview($event)"></app-compliance-scheduler-interview>
    <app-compliance-completed-interview [hidden]="activeTabIndex !== 5"
        (signalToParent)="handleSignalForCompCompletedInterview($event)"></app-compliance-completed-interview>


    <!-- <app-reenrollment *ngIf="activeTabIndex === 3"></app-reenrollment> -->
    <!-- ... -->
</div>